In [6]:
# Packages
import pymysql

In [24]:
# Create a connection with the database service in local machine
con = pymysql.connect(host ='db-realty.ctu8ks44oyou.us-east-1.rds.amazonaws.com', port=int(3306), user='admin', passwd='')

# Creating a cursor object
cursor = con.cursor()

In [9]:
# Create a schema called realty
cursor.execute('''
    DROP SCHEMA IF EXISTS realty;
''')

cursor.execute('''
    CREATE SCHEMA realty;
''')

# Use the new schema
cursor.execute('''
    USE realty;
''')

0

In [10]:
# Create tables SALES
cursor.execute('''
    CREATE TABLE sales (
        property_id VARCHAR(12),
        prop_type VARCHAR(20),
        prop_status VARCHAR(20),
        price INT,
        baths INT,
        beds FLOAT,
        address_city VARCHAR(50),
        address_line VARCHAR(200),
        address_state_code CHAR(2),
        address_state VARCHAR(50),
        address_county VARCHAR(50),
        addres_lat DOUBLE,
        address_lon DOUBLE,
        address_neighborhood_name VARCHAR(50)
    )
''')

0

In [11]:
# Create table RENTS
cursor.execute('''
    DROP TABLE IF EXISTS rents;
''')

# Create table RENTS
cursor.execute('''
    CREATE TABLE rents (
        property_id VARCHAR(12),
        prop_type VARCHAR(20),
        prop_status VARCHAR(20),
        year_built INT,
        address_city VARCHAR(50),
        address_line VARCHAR(200),
        address_state_code CHAR(2),
        address_state VARCHAR(50),
        address_county VARCHAR(50),
        address_lat DOUBLE,
        address_lon DOUBLE,
        address_neighborhood_name VARCHAR(50),
        community_price_max INT,
        community_price_min INT
    )
''')

0

In [12]:
# Create table SOLD
cursor.execute('''
    DROP TABLE IF EXISTS sold;
''')

# Create table SOLD
cursor.execute('''
    CREATE TABLE sold (
        property_id VARCHAR(12),
        prop_type VARCHAR(20),
        prop_status VARCHAR(20),
        year_built INT,
        price INT,
        baths INT,
        beds FLOAT,
        address_city VARCHAR(50),
        address_line VARCHAR(200),
        address_state_code CHAR(2),
        address_state VARCHAR(50),
        address_county VARCHAR(50),
        address_lat DOUBLE,
        address_lon DOUBLE,
        address_neighborhood_name VARCHAR(50)
    )
''')

0

In [22]:
cursor.execute('''
    SHOW TABLES;
''')

cursor.fetchall()

(('rents',), ('sales',), ('sold',))

In [23]:
con.close()