In [3]:
from db_funcs import insert_into_mysql
import pymysql
import pandas as pd
from constants import *
from functions import *

In [2]:
# Pandas options
pd.options.display.max_rows = 100
pd.options.display.max_columns = 15

In [4]:
con = pymysql.connect(host='localhost', port=3306, user='arthur', passwd='arthurpass')
cursor = con.cursor()

In [5]:
cursor.execute("use realty")

0

In [6]:
cursor.execute("show tables;")

3

In [8]:
salesdf = get_sales("New York City", "NY", "200")

In [9]:
salesdf = salesdf[SALES_COLS]
salesdf = fill_na(salesdf)

In [ ]:
salesdf.isna().sum()

In [1]:
from db_funcs import insert_into_mysql

In [12]:
insert_into_mysql(cursor, salesdf, 'sales')

In [13]:
con.commit()

# Retrieving data

In [ ]:
# List of relevant columns
sales_cols = ['property_id', 'prop_type', 'prop_status', 'price', 'baths', 'beds', 'address_city', 'address_line', 'address_state_code', \
    'address_state', 'address_county', 'address_lat', 'address_lon', 'address_neighborhood_name']

rents_cols = ['property_id', 'prop_type', 'prop_status', 'year_built', 'address_city', 'address_line', 'address_state_code', 'address_state', \
    'address_county', 'address_lat', 'address_lon', 'address_neighborhood_name', 'community_price_max', 'community_price_min']

sold_cols = ['property_id', 'prop_type', 'prop_status', 'year_built', 'price', 'baths', 'beds', 'address_city', 'address_line', 'address_state_code', \
    'address_state', 'address_county', 'address_lat', 'address_lon', 'address_neighborhood_name']

In [ ]:
# Set the limit to a lower number to first test
sales = get_sales("New York City", "NY", "200")
sales = sales[sales_cols]
sales.head()

In [ ]:
rents = get_rent("New York City", "NY", "200")
rents = rents[rents_cols]
rents.head()

In [ ]:
sold = get_sold("New York City", "NY", "200")
sold = sold[sold_cols]
sold.head()

In [ ]:
# Remove NAN values from dataframes
sales = fill_na(sales)
rents = fill_na(rents)
sold = fill_na(sold)

In [ ]:
# Check if there are NAN values
sales.isna().sum()

In [ ]:
# For backup purpose, save dataframes into csv files
sales.to_csv("sales.csv", index=False)
rents.to_csv("rents.csv", index=False)
sold.to_csv("sold.csv", index=False)

In [ ]:
# sales = pd.read_csv("sales.csv")
# rents = pd.read_csv("rents.csv")
# sold = pd.read_csv("sold.csv")

# Inserting data into MySQL

In [ ]:
# Create a connection with the database service in local machine
con = pymysql.connect(host ='db-realty.ctu8ks44oyou.us-east-1.rds.amazonaws.com', port=int(3306), user='admin', passwd='123qweasd')

# Creating a cursor object
cursor = con.cursor()

In [ ]:
# Use the realty schema
cursor.execute('''
    USE realty;
''')

In [ ]:
# Convert the Dataframe into a list of arrays
sales_tuples = tuple(sales.to_records(index=False))

for data in range(len(sales_tuples)):
    
    # Create a new record
    query = "INSERT INTO sales (property_id, prop_type, prop_status, price, baths, beds, address_city, address_line, address_state_code, address_state, \
        address_county, addres_lat, address_lon, address_neighborhood_name) VALUES {}".format(sales_tuples[data])
    
    # Execute the query
    cursor.execute(query)

In [ ]:
# Convert the Dataframe into a list of arrays
rents_tuples = tuple(rents.to_records(index=False))

for data in range(len(rents_tuples)):
    
    # Create a new record
    query = '''
        INSERT INTO rents (property_id, prop_type, prop_status, year_built, address_city, address_line, address_state_code, 
        address_state, address_county, address_lat, address_lon, address_neighborhood_name, community_price_max, community_price_min) 
        VALUES {}'''.format(rents_tuples[data])
    
    # Execute the query
    cursor.execute(query)

In [ ]:
# Convert the Dataframe into a list of arrays
sold_tuples = tuple(sold.to_records(index=False))

for data in range(len(sold_tuples)):
    
    # Create a new record
    query = '''
        INSERT INTO sold (property_id, prop_type, prop_status, year_built, price, baths, beds, address_city, address_line, address_state_code, 
        address_state, address_county, address_lat, address_lon, address_neighborhood_name) 
        VALUES {}'''.format(sold_tuples[data])
    
    # Execute the query
    cursor.execute(query)

In [ ]:
# Commit
con.commit()

In [ ]:
# Close connection
con.close()