In [ ]:
# Packages
import pymysql

In [ ]:
# Create a connection with the database service in local machine
con = pymysql.connect(host ='localhost', port=int(3306), user='arthur', passwd='123456')

# Creating a cursor object
cursor = con.cursor()

In [ ]:
# Create a schema called realty
cursor.execute('''
    DROP SCHEMA IF EXISTS realty;
''')

cursor.execute('''
    CREATE SCHEMA realty;
''')

# Use the new schema
cursor.execute('''
    USE realty;
''')

In [ ]:
# Create tables SALES
cursor.execute('''
    CREATE TABLE sales (
        property_id VARCHAR(12),
        prop_type VARCHAR(20),
        prop_status VARCHAR(20),
        price INT,
        baths INT,
        beds FLOAT,
        address_city VARCHAR(50),
        address_line VARCHAR(200),
        address_state_code CHAR(2),
        address_state VARCHAR(50),
        address_county VARCHAR(50),
        addres_lat DOUBLE,
        address_lon DOUBLE,
        address_neighborhood_name VARCHAR(50)
    )
''')

In [ ]:
# Create table RENTS
cursor.execute('''
    DROP TABLE IF EXISTS rents;
''')

# Create table RENTS
cursor.execute('''
    CREATE TABLE rents (
        property_id VARCHAR(12),
        prop_type VARCHAR(20),
        prop_status VARCHAR(20),
        year_built INT,
        address_city VARCHAR(50),
        address_line VARCHAR(200),
        address_state_code CHAR(2),
        address_state VARCHAR(50),
        address_county VARCHAR(50),
        address_lat DOUBLE,
        address_lon DOUBLE,
        address_neighborhood_name VARCHAR(50),
        community_price_max INT,
        community_price_min INT
    )
''')

In [ ]:
# Create table SOLD
cursor.execute('''
    DROP TABLE IF EXISTS sold;
''')

# Create table SOLD
cursor.execute('''
    CREATE TABLE sold (
        property_id VARCHAR(12),
        prop_type VARCHAR(20),
        prop_status VARCHAR(20),
        year_built INT,
        price INT,
        baths INT,
        beds FLOAT,
        address_city VARCHAR(50),
        address_line VARCHAR(200),
        address_state_code CHAR(2),
        address_state VARCHAR(50),
        address_county VARCHAR(50),
        address_lat DOUBLE,
        address_lon DOUBLE,
        address_neighborhood_name VARCHAR(50)
    )
''')